# Rust
/target
Cargo.lock
**/*.rs.bk

# CMake
/build
/build_examples
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Vcpkg
vcpkg_installed/
vcpkg-archives/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Release Artifacts
fluvio-client-cpp-linux-x64/
fluvio-client-cpp-linux-x64.tar.gz
